In [0]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [0]:
import io
data = pd.read_csv(io.BytesIO(uploaded['train.csv']))

In [4]:
data.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [5]:
data.drop(columns=['id', 'keyword', 'location'], inplace=True)
data.head()

                                                text  target
0  Our Deeds are the Reason of this #earthquake M...       1
1             Forest fire near La Ronge Sask. Canada       1
2  All residents asked to 'shelter in place' are ...       1
3  13,000 people receive #wildfires evacuation or...       1
4  Just got sent this photo from Ruby #Alaska as ...       1

In [6]:
data

                                                   text  target
0     Our Deeds are the Reason of this #earthquake M...       1
1                Forest fire near La Ronge Sask. Canada       1
2     All residents asked to 'shelter in place' are ...       1
3     13,000 people receive #wildfires evacuation or...       1
4     Just got sent this photo from Ruby #Alaska as ...       1
...                                                 ...     ...
7608  Two giant cranes holding a bridge collapse int...       1
7609  @aria_ahrary @TheTawniest The out of control w...       1
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  Police investigating after an e-bike collided ...       1
7612  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 2 columns]

In [0]:
# Formatting:

from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()

In [0]:
train_count = count_vect.fit_transform(data['text'])

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_count, data.target, test_size=0.3)

In [0]:
# Model:

from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [59]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
pred = model.predict(X_test)

In [0]:
from sklearn.metrics import classification_report

In [62]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.80      0.88      0.84      1317
           1       0.81      0.71      0.75       967

    accuracy                           0.80      2284
   macro avg       0.80      0.79      0.80      2284
weighted avg       0.80      0.80      0.80      2284

## **Making Predictions:**

In [17]:
uploaded_test = files.upload()

Saving test.csv to test.csv

In [0]:
data_test = pd.read_csv(io.BytesIO(uploaded_test['test.csv']))

In [64]:
data_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [0]:
data_test.drop(columns=['keyword', 'location'], inplace=True)

In [66]:
data_test

         id                                               text
0         0                 Just happened a terrible car crash
1         2  Heard about #earthquake is different cities, s...
2         3  there is a forest fire at spot pond, geese are...
3         9           Apocalypse lighting. #Spokane #wildfires
4        11      Typhoon Soudelor kills 28 in China and Taiwan
...     ...                                                ...
3258  10861  EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259  10865  Storm in RI worse than last hurricane. My city...
3260  10868  Green Line derailment in Chicago http://t.co/U...
3261  10874  MEG issues Hazardous Weather Outlook (HWO) htt...
3262  10875  #CityofCalgary has activated its Municipal Eme...

[3263 rows x 2 columns]

In [0]:
# Vectorizing Test Set:

test_vectors = count_vect.transform(data_test["text"])

In [0]:
# Predictions:

pred_test_set = model.predict(test_vectors)

In [0]:
data_test.drop(columns=['text'], inplace=True)

In [0]:
data_test['target'] = pred_test_set

In [72]:
data_test

         id  target
0         0       1
1         2       1
2         3       1
3         9       0
4        11       1
...     ...     ...
3258  10861       1
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       0

[3263 rows x 2 columns]

In [0]:
data_test.set_index('id', inplace=True)

In [74]:
data_test

       target
id
0           1
2           1
3           1
9           0
11          1
...       ...
10861       1
10865       1
10868       1
10874       1
10875       0

[3263 rows x 1 columns]

In [0]:
data_test.to_csv('submission.csv')